<!DOCTYPE html>
<html id="previewPage" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover, shrink-to-fit=no">
  <meta name="description" content="Rabix - Multipurpose Ecommerce Mobile HTML Template">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#100DD1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Rabix">
  <meta name="msapplication-TileImage" content="img/icons/icon-144.png">
  <link rel="icon" href="img/icons/favicon.png" sizes="72x72" type="image/png">
  <!-- Title-->
  <title>Rabix - Multipurpose Ecommerce Mobile HTML Template</title>
  <!-- Google font file -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,900" rel="stylesheet">

  <!-- Stylesheet-->
  <link rel="stylesheet" href="css/line-awesome.min.css">
  <link rel="stylesheet" href="css/mdb.min.css">
  <link rel="stylesheet" href="css/animate.min.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/style.css">
  <!-- Web App Manifest-->
  <link rel="manifest" href="manifest.json">
</head>
<body>
<!--Loader Page-->
<div class="loader-page">
  <div class="col align-self-center text-center">
    <img src="img/icons/icon.png" alt="logo">
    <div class="row mt-5 mb-5">
      <div class="col-12 text-center">
        <div class="loader"></div>
      </div>
    </div>
  </div>
</div>
<!--Header Area-->
<div class="header-area">
  <div class="row h-100 align-items-center justify-content-between">
    <div class="col-auto pr-0">
      <a href="home.html" class="btn text-dark fs-25"><i class="la la-arrow-left"></i></a>
    </div>
    <div class="col text-center p-0">
      <div class="page-heading">
        <h6 class="mb-0">About Us</h6>
      </div>
    </div>
    <div class="col-auto ps-0">
      <a href="profile.html" class="btn btn-link text-dark"><i class="la la-user"></i></a>
    </div>
  </div>
</div>
<div class="page-content">
  <!--Contact Wrapper-->
  <div class="contact-area py-3">
    <div class="container">
      <div class="row pb-3">
        <div class="col">
          <div class="card about-info-card">
            <div class="card-body">
              <div class="about-content-wrap">
                <img class="mb-3 w-100" src="img/about.jpg" alt="">
                <h5>Why do we use it?</h5>
                <div class="desc-about">
                  <p>Modern furniture refers to furniture produced from the late 19th century through the present that is influenced by modernism. Post-World War II ideals of cutting excess, commodification, and practicality of materials in design heavily influenced the aesthetic of the furniture.</p>
                  <p>It was a tremendous departure from all furniture design that had gone before it. There was an opposition to the decorative arts, which included Art Nouveau, Neoclassical, and Victorian styles.</p>
                </div>
                <div class="feature-item-box mt-5">
                  <div class="row g-3">
                    <div class="col-6">
                      <div class="feature-icon">
                        <img src="img/svg/8-trolley.svg" alt="#">
                      </div>
                      <div class="feature-info text-center py-3">
                        <h5>Free shipping</h5>
                        <p>On all orders over $49.00</p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="feature-icon">
                        <img src="img/svg/9-money.svg" alt="#">
                      </div>
                      <div class="feature-info text-center py-3">
                        <h5>15 days returns</h5>
                        <p>Moneyback guarantee</p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="feature-icon">
                        <img src="img/svg/10-credit-card.svg" alt="#">
                      </div>
                      <div class="feature-info text-center py-3">
                        <h5>Secure checkout</h5>
                        <p>Protected by Paypal</p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="feature-icon">
                        <img src="img/svg/11-gift-card.svg" alt="#">
                      </div>
                      <div class="feature-info text-center py-3">
                        <h5>Offer &amp; gift here</h5>
                        <p>On all orders over</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer Nav-->
<div class="footer-area">
  <div class="container h-100 px-0">
    <ul class="h-100 w-100 d-flex align-items-center justify-content-between ps-0">
      <li><a href="home.html"><i class="la la-home"></i>Home</a></li>
      <li><a href="my-order.html"><i class="la la-shopping-bag"></i> My Order</a></li>
      <li><a href="cart.html"><i class="la la-shopping-cart"></i>Cart</a></li>
      <li><a href="wishlist.html"><i class="la la-heart-o"></i>Wishlist</a></li>
      <li><a href="profile.html"><i class="la la-user"></i>Account</a></li>
    </ul>
  </div>
</div>
<!-- All JavaScript Files-->
<script src="js/jquery.min.js"></script>
<script src="js/mdb.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>
<!-- Progressive Web App -->
<script src="js/pwa.js"></script>
</body>
</html>