<!DOCTYPE html>
<html id="previewPage" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover, shrink-to-fit=no">
    <meta name="description" content="Rabix - Multipurpose Ecommerce Mobile HTML Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#100DD1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Rabix">
    <meta name="msapplication-TileImage" content="img/icons/icon-144.png">
    <link rel="icon" href="img/icons/favicon.png" sizes="72x72" type="image/png">
    <!-- Title-->
    <title>Rabix - Multipurpose Ecommerce Mobile HTML Template</title>
    <!-- Google font file -->
	  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,900" rel="stylesheet">

    <!-- Stylesheet-->
    <link rel="stylesheet" href="css/line-awesome.min.css">

    <link rel="stylesheet" href="css/mdb.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/style.css">
    <!-- Web App Manifest-->
    <link rel="manifest" href="manifest.json">
</head>
<body>
<!--Loader Page-->
<div class="loader-page">
<div class="col align-self-center text-center">
    <img src="img/icons/icon.png" alt="logo">
    <div class="row mt-5 mb-5">
    <div class="col-12 text-center">
        <div class="loader"></div>
    </div>
    </div>
</div>
</div>
<!--Header Area-->
<div class="header-area">
    <div class="row h-100 align-items-center justify-content-between">
        <div class="col-auto pr-0">
            <a href="shop-grid.html" class="btn text-dark fs-25"><i class="la la-arrow-left"></i></a>
        </div>
        <div class="col text-center p-0">
            <div class="page-heading">
                <h6 class="mb-0">My Cart</h6>
            </div>
        </div>
        <div class="col-auto ps-0">
            <a href="profile.html" class="btn btn-link text-dark"><i class="la la-user"></i></a>
        </div>
    </div>
</div>
<div class="page-content">
    <!--Product List Cart-->
    <div class="cart-area py-3">
        <div class="container">
            <div class="title-container">
                <h6>3 Items</h6>
            </div>
            <div class="row">
                <div class="col-12 py-1">
                    <div class="card sale-product-card">
                        <div class="card-body product-list-cart">
                            <div class="row align-items-center">
                                <div class="col-auto px-0">
                                    <button class="btn remove-icon"><i class="la la-trash"></i></button>
                                </div>
                                <div class="col-2 px-0 align-self-center">
                                    <a href="single-product.html">
                                        <img src="img/img10.jpg" alt="">
                                    </a>
                                </div>
                                <div class="col pr-0">
                                    <div class="justify-content-between">
                                        <a href="single-product.html" class="product-title">Product Title Here </a>
                                        <p class="sale-price mb-0">$19.66</p>
                                    </div>
                                </div>
                                <div class="col-auto text-center">
                                    <div class="quality-select">
                                        <form action="#">
                                            <div class="input-counter align-items-center">
                                                <button class="minus-btn"><i class="la la-minus"></i></button>
                                                <input type="text" value="1" min="1">
                                                <button class="plus-btn"><i class="la la-plus"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 py-1">
                    <div class="card sale-product-card">
                        <div class="card-body product-list-cart">
                            <div class="row align-items-center">
                                <div class="col-auto px-0">
                                    <button class="btn remove-icon"><i class="la la-trash"></i></button>
                                </div>
                                <div class="col-2 px-0 align-self-center">
                                    <a href="single-product.html">
                                        <img src="img/img14.jpg" alt="">
                                    </a>
                                </div>
                                <div class="col pr-0">
                                    <div class="justify-content-between">
                                        <a href="single-product.html" class="product-title">Product Title Here</a>
                                        <p class="sale-price mb-0">$19.66</p>
                                    </div>
                                </div>
                                <div class="col-auto text-center">
                                    <div class="quality-select">
                                        <form action="#">
                                            <div class="input-counter align-items-center">
                                                <button class="minus-btn"><i class="la la-minus"></i></button>
                                                <input type="text" value="1" min="1">
                                                <button class="plus-btn"><i class="la la-plus"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 pt-1">
                    <div class="card sale-product-card">
                        <div class="card-body product-list-cart">
                            <div class="row align-items-center">
                                <div class="col-auto px-0">
                                    <button class="btn remove-icon"><i class="la la-trash"></i></button>
                                </div>
                                <div class="col-2 px-0 align-self-center">
                                    <a href="single-product.html">
                                        <img src="img/img6.jpg" alt="">
                                    </a>
                                </div>
                                <div class="col pr-0">
                                    <div class="justify-content-between">
                                        <a href="single-product.html" class="product-title">Product Title Here</a>
                                        <p class="sale-price mb-0">$19.66</p>
                                    </div>
                                </div>
                                <div class="col-auto text-center">
                                    <div class="quality-select">
                                        <form action="#">
                                            <div class="input-counter align-items-center">
                                                <button class="minus-btn"><i class="la la-minus"></i></button>
                                                <input type="text" value="1" min="1">
                                                <button class="plus-btn"><i class="la la-plus"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-12">
                    <div class="card coupon-card">
                        <div class="card-body">
                            <div class="apply-coupon">
                                <h6 class="mb-0">Have a coupon?</h6>
                                <p class="mb-2 fs-12 text-grey">Enter your coupon code here &amp; get awesome
                                    discounts!</p>
                                <div class="coupon-form">
                                    <form action="#">
                                        <div class="input-group input-group-solid">
                                            <input type="text" class="form-control" placeholder="Enter Coupen Code">
                                            <div class="input-group-append">
                                                <button class="btn btn-danger fs-13" type="button">Apply</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-6">
                                    <p class="text-grey mb-1"> Sub Total </p>
                                </div>
                                <div class="col-6 text-end">
                                    <h5> $40.21 </h5>
                                </div>
                            </div>
                            <div class="row align-items-center justify-content-between">
                                <div class="col-6">
                                    <p class="text-grey mb-1"> Tax </p>
                                </div>
                                <div class="col-6 text-end">
                                    <h5> $4 </h5>
                                </div>
                            </div>
                            <hr>
                            <div class="row align-items-center justify-content-between">
                                <div class="col-6">
                                    <p class="text-grey mb-1 fs-18"> Total </p>
                                </div>
                                <div class="col-6 text-end">
                                    <h5> $44.21 </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer Nav-->
<div class="footer-btn">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-between">
                <a href="checkout.html" class="btn btn-shop">CHECKOUT</a>
        </div>
    </div>
</div>
<!-- All JavaScript Files-->
<script src="js/jquery.min.js"></script>

<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>
<!-- Progressive Web App -->
<script src="js/pwa.js"></script>
</body>
</html>