<!DOCTYPE html>
<html id="previewPage" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover, shrink-to-fit=no">
    <meta name="description" content="Rabix - Multipurpose Ecommerce Mobile HTML Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#100DD1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Rabix">
    <meta name="msapplication-TileImage" content="img/icons/icon-144.png">
    <link rel="icon" href="img/icons/favicon.png" sizes="72x72" type="image/png">
    <!-- Title-->
    <title>Rabix - Multipurpose Ecommerce Mobile HTML Template</title>
    <!-- Google font file -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,900" rel="stylesheet">

    <!-- Stylesheet-->
    <link rel="stylesheet" href="css/line-awesome.min.css">
    <link rel="stylesheet" href="css/mdb.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- Web App Manifest-->
    <link rel="manifest" href="manifest.json">
</head>
<body>
<!--Loader Page-->
<div class="loader-page">
    <div class="col align-self-center text-center">
        <img src="img/icons/icon.png" alt="logo">
        <div class="row mt-5 mb-5">
            <div class="col-12 text-center">
                <div class="loader"></div>
            </div>
        </div>
    </div>
</div>
<!--Header Area-->
<div class="header-area">
    <div class="row h-100 align-items-center justify-content-between">
        <div class="col-auto pr-0">
            <a href="home.html" class="btn text-dark fs-25"><i class="la la-arrow-left"></i></a>
        </div>
        <div class="col text-center p-0">
            <div class="page-heading">
                <h6 class="mb-0">404 Error</h6>
            </div>
        </div>
        <div class="col-auto ps-0">
            <a href="profile.html" class="btn btn-link text-dark"><i class="la la-user"></i></a>
        </div>
    </div>
</div>
<div class="page-content">
    <!--Contact Wrapper-->
    <div class="error-content-area py-3">
        <div class="container">
            <div class="row pb-3">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="error-content text-center pt-5">
                                <img class="img-fluid" src="img/404.f9146eba.png" alt="error">
                                <div class="error-page-text text-center py-5">
                                    <h2>Error 404 : Page Not Found</h2>
                                    <p class="py-3 fs-16">The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
                                    <a class="btn btn-primary rounded-pill mt-3" href="home.html">Go To Home</a>
                                </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- All JavaScript Files-->
<script src="js/jquery.min.js"></script>
<script src="js/mdb.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>
<!-- Progressive Web App -->
<script src="js/pwa.js"></script>
</body>
</html>