<!DOCTYPE html>
<html id="previewPage" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover, shrink-to-fit=no">
    <meta name="description" content="Rabix - Multipurpose Ecommerce Mobile HTML Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#100DD1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Rabix">
    <meta name="msapplication-TileImage" content="img/icons/icon-144.png">
    <link rel="icon" href="img/icons/favicon.png" sizes="72x72" type="image/png">
    <!-- Title-->
    <title>Rabix - Multipurpose Ecommerce Mobile HTML Template</title>
    <!-- Google font file -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,900" rel="stylesheet">

    <!-- Stylesheet-->
    <link rel="stylesheet" href="css/line-awesome.min.css">
    <link rel="stylesheet" href="css/mdb.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/style.css">
    <!-- Web App Manifest-->
    <link rel="manifest" href="manifest.json">
</head>
<body>
<!--Loader Page-->
<div class="loader-page">
    <div class="col align-self-center text-center">
        <img src="img/icons/icon.png" alt="logo">
        <div class="row mt-5 mb-5">
            <div class="col-12 text-center">
                <div class="loader"></div>
            </div>
        </div>
    </div>
</div>
<!--Header Area-->
<div class="header-area">
    <div class="row h-100 align-items-center justify-content-between">
        <div class="col-auto pr-0">
            <button class="btn btn-link navbar-toggler navbar-toggler-reverse text-dark menu-btn" id="sidenav-toggle">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
        </div>
        <div class="col header-search">
            <form action="#">
                <div class="input-group input-group-solid">
                    <form class="d-flex input-group w-auto">
                        <input type="search" class="form-control rounded-pill" placeholder="Search.." >
                        <button class="btn" type="button" >
                           <i class="la la-search"></i>
                        </button>
                    </form>
                </div>
            </form>
        </div>
        <div class="col-auto ps-0">
            <a href="profile.html" class="btn  btn-link text-dark"><i class="la la-user"></i></a>
        </div>
    </div>
</div>
<div class="bg-overlay" id="overlay-close"></div>
<!-- Side Nav Wrapper-->
<div class="sidebar-nav">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-auto px-0">
                <button class="btn close-btn" id="sidenav-close"><i class="la la-close"></i></button>
            </div>
        </div>
        <div class="sidebar-profile">
            <div class="user-profile text-center py-3"><img src="img/user/user.png" alt=""></div>
            <div class="user-info">
                <h6 class="user-name">Sarah Smith</h6>
                <a href="profile.html" class="btn btn-outline-light rounded-pill mt-2">Balance <span>$<span class="counter">250</span></span>
                    <i class="la la-wallet fs-18"></i> </a>
            </div>
            <ul class="sidebar-menu flex-column">
                <li><a href="profile.html"> <i class="la la-user"></i> <span>  My Profile </span></a></li>
                <li><a href="notifications.html">
                    <i class="la la-bell-o effect_tada"></i> <span>  Notifications </span>
                    <span class="badge bg-danger badge-dot"></span>
                </a></li>
                <li><a href="shop-list.html"> <i class="la la-shopping-cart"></i> <span>All Products</span> </a></li>
                <li><a href="about.html"> <i class="la la-file-text"></i> <span>About Us</span> </a></li>
                <li><a href="settings.html"> <i class="la la-cog effect_spin"></i> <span>Settings</span> </a></li>
                <li><a href="contact.html"> <i class="la la-envelope-o"></i> <span>Contact Us</span> </a></li>
                <li><a href="login.html"> <i class="la la-power-off"></i><span>Sign Out</span></a></li>
            </ul>
        </div>
        <div class="copyright-info pt-3 pb-3">
            <p class="text-light">© 2021 All rights reserved by<a href="#" class="text-light font-weight-bold"> Themefix </a></p>
        </div>
    </div>
</div>
<!-- Hero Slide-->
<div class="page-content">
    <div class="hero-slides owl-carousel">
        <!-- Single Hero Slide-->
        <div class="single-hero-slide" style="background-image: url('img/bg-img/img3.png')">
            <div class="slide-content h-100 d-flex align-items-center">
                <div class="container text-left">
                    <h4 class="text-white mb-0 fs-20">Smart LED TV</h4>
                    <p class="text-white mb-3">Starting from $129</p>
                    <a class="btn btn-outline-light btn-sm rounded-pill" href="#">Buy Now</a>
                </div>
            </div>
        </div>
        <!-- Single Hero Slide-->
        <div class="single-hero-slide" style="background-image: url('img/bg-img/img2.png')">
            <div class="slide-content h-100 d-flex align-items-center">
                <div class="container text-center">
                    <h4 class="text-white mb-0 fs-20 ">BeautyPress</h4>
                    <p class="text-white mb-3">Now only $22</p>
                    <a class="btn btn-outline-light btn-sm rounded-pill" href="#">Buy
                    Now</a>
                </div>
            </div>
        </div>
        <!-- Single Hero Slide-->
        <div class="single-hero-slide" style="background-image: url('img/bg-img/img1.png')">
            <div class="slide-content h-100 d-flex align-items-center">
                <div class="container text-left">
                    <h4 class="text-white mb-0 fs-20">NEW TRENDS</h4>
                    <p class="text-white">up to 25% in the new collection.</p>
                </div>
            </div>
        </div>
    </div>
    <!--Product Catagories-->
    <div class="product-catagories py-3">
        <div class="container">
            <div class="title-container">
                <h6>Categories</h6>
            </div>
            <div class="product-catagory-item pl-2 pr-2">
                <div class="row g-2">
                    <div class="col-3">
                        <div class="card catagory-card-item">
                            <div class="card-body">
                                <a href="catagory.html">
                                    <img src="img/img1.jpg" class="img-fluid" alt="img">
                                </a>
                            </div>
                            <div class="catagory-card-title bg-primary align-items-center">
                                <span>Women's</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card catagory-card-item">
                            <div class="card-body">
                                <a href="catagory.html">
                                    <img src="img/img2.jpg" class="img-fluid" alt="img">
                                </a>
                            </div>
                            <div class="catagory-card-title bg-orchid align-items-center">
                                <span>Beauty</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card catagory-card-item">
                            <div class="card-body">
                                <a href="catagory.html">
                                    <img src="img/img3.jpg" class="img-fluid" alt="img">
                                </a>
                            </div>
                            <div class="catagory-card-title bg-orange align-items-center">
                                <span>Electronics</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card catagory-card-item">
                            <div class="card-body">
                                <a href="catagory.html">
                                    <img src="img/img5.jpg" class="img-fluid" alt="img">
                                </a>
                            </div>
                            <div class="catagory-card-title bg-mediumgreen align-items-center">
                                <span>Phones </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card catagory-card-item">
                            <div class="card-body">
                                <a href="catagory.html">
                                    <img src="img/img4.jpg" class="img-fluid" alt="img">
                                </a>
                            </div>
                            <div class="catagory-card-title bg-nightblue align-items-center">
                                <span>Men's</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card catagory-card-item">
                            <div class="card-body">
                                <a href="catagory.html">
                                    <img src="img/img6.jpg" class="img-fluid" alt="img">
                                </a>
                            </div>
                            <div class="catagory-card-title bg-deeppink align-items-center">
                                <span>Jewelry</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card catagory-card-item">
                            <div class="card-body">
                                <a href="catagory.html">
                                    <img src="img/img12.jpg" class="img-fluid" alt="img">
                                </a>
                            </div>
                            <div class="catagory-card-title bg-purple align-items-center">
                                <span>Home</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card catagory-card-item">
                            <div class="card-body">
                                <a href="catagory.html">
                                    <img src="img/img8.jpg" class="img-fluid" alt="img">
                                </a>
                            </div>
                            <div class="catagory-card-title bg-gold align-items-center">
                                <span>Shoes</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Sale Slide-->
    <div class="sale-wrapper">
        <div class="container">
            <div class="title-container d-flex align-items-center justify-content-between mb-2">
                <h6>Top Rankings</h6>
                <a class="mb-2 fs-13 text-primary" href="shop-list.html">View more</a>
            </div>
            <div class="sale-slide owl-carousel">
                <div class="card sale-product-card">
                    <div class="card-body">
                        <a class="wishlist-icon" href="wishlist.html"><i class="la la-heart-o"></i></a>
                        <a href="single-product.html">
                            <img src="img/img9.jpg" alt="">
                            <h5 class="product-title"> Product Title Here </h5>
                        </a>
                        <div class="d-flex justify-content-between">
                            <p class="sale-price">$12</p>
                            <div class="list-menu">
                                <a href="cart.html"><i class="la la-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card sale-product-card">
                    <div class="card-body">
                        <a class="wishlist-icon" href="wishlist.html"><i class="la la-heart-o"></i></a>
                        <a href="single-product.html">
                            <img src="img/img10.jpg" alt="">
                            <h5 class="product-title"> Product Title Here </h5>
                        </a>
                        <div class="d-flex justify-content-between">
                            <p class="sale-price">$19.66</p>
                            <div class="list-menu">
                                <a href="cart.html"><i class="la la-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card sale-product-card">
                    <div class="card-body">
                        <a class="wishlist-icon" href="wishlist.html"><i class="la la-heart-o"></i></a>
                        <a href="single-product.html">
                            <img src="img/img11.jpg" alt="">
                            <h5 class="product-title"> Product Title Here </h5>
                        </a>
                        <div class="d-flex justify-content-between">
                            <p class="sale-price">$12.66</p>
                            <div class="list-menu">
                                <a href="cart.html"><i class="la la-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card sale-product-card">
                    <div class="card-body">
                        <a class="wishlist-icon" href="wishlist.html"><i class="la la-heart-o"></i></a>
                        <a href="single-product.html">
                            <img src="img/img12.jpg" alt="">
                            <h5 class="product-title"> Product Title Here </h5>
                        </a>
                        <div class="d-flex justify-content-between">
                            <p class="sale-price">$20.66</p>
                            <div class="list-menu">
                                <a href="cart.html"><i class="la la-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Flash Deals Slide-->
    <div class="flash-deal py-3">
        <div class="container">
            <div class="flash-deal-card">
                <div class="title-container d-flex align-items-center justify-content-between mb-2">
                    <h6>Flash Deals</h6>
                    <ul class="timer-sales pl-0 d-flex align-items-center" data-countdown="2022/01/01 14:21:37">
                        <li><span class="hours">16</span></li>
                        :
                        <li><span class="minutes">31</span></li>
                        :
                        <li><span class="seconds">54</span></li>
                    </ul>
                </div>
                <div class="flash-deal-slide owl-carousel owl-loaded owl-drag">
                    <div class="card flash-sale-card">
                        <div class="card-body">
                            <span class="badge bg-orange">-10%</span>
                            <a href="single-product.html"><img src="img/img14.jpg" alt="">
                                <!-- Progress Bar-->
                                <span class="progress-title fs-12 text-grey">Hot selling</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="45"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                                <p class="sale-price">$9
                                    <del class="real-price ml-2 fs-12">$25</del>
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="card flash-sale-card">
                        <div class="card-body">
                            <span class="badge bg-orange">-20%</span>
                            <a href="single-product.html"><img src="img/img4.jpg" alt="">
                                <!-- Progress Bar-->
                                <span class="progress-title fs-12 text-grey">Hot selling</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                                <p class="sale-price">$10
                                    <del class="real-price ml-2 fs-12">$25.45</del>
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="card flash-sale-card">
                        <div class="card-body">
                            <span class="badge bg-orange">-40%</span>
                            <a href="single-product.html"><img src="img/img2.jpg" alt="">
                                <!-- Progress Bar-->
                                <span class="progress-title fs-12 text-grey">250 sold</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                                <p class="sale-price">$12
                                    <del class="real-price ml-2 fs-12">$25.45</del>
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="card flash-sale-card">
                        <div class="card-body">
                            <span class="badge bg-orange">-20%</span>
                            <a href="single-product.html"><img src="img/img1.jpg" alt="">
                                <!-- Progress Bar-->
                                <span class="progress-title fs-12 text-grey">80 sold</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                                <p class="sale-price">$22
                                    <del class="real-price ml-2 fs-12">$25.45</del>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Area -->
    <section class="banner-section py-3">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col">
                    <div class="banner-img" style="background-image: url(img/banner-1.png)">
                        <div class="banner-content">
                            <h5 class="my-3 text-light">Save Up to <span class="color-white fw-bold">50%</span> OFF</h5>
                            <a href="#" class="btn btn-sm btn-warning rounded-pill mb-3">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Product List-->
    <div class="product-list">
        <div class="container">
            <div class="title-container d-flex align-items-center justify-content-between mb-2">
                <h6>More To Love</h6>
                <a class="mb-2 fs-13 text-primary" href="shop-grid.html">View more</a>
            </div>
            <div class="row row-custom">
                <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="card sale-product-card">
                        <div class="card-body">
                            <a class="wishlist-icon" href="wishlist.html"><i class="la la-heart-o"></i></a>
                            <a href="single-product.html">
                                <img src="img/img6.jpg" alt="">
                                <h5 class="product-title"> Product Title Here </h5>
                            </a>
                            <div class="d-flex justify-content-between">
                                <p class="sale-price">$29.66</p>
                                <div class="list-menu">
                                    <a href="cart.html"><i class="la la-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="card sale-product-card">
                        <div class="card-body">
                            <a class="wishlist-icon" href="wishlist.html"><i class="la la-heart-o"></i></a>
                            <a href="single-product.html">
                                <img src="img/img5.jpg" alt="">
                                <h5 class="product-title"> Product Title Here </h5>
                            </a>
                            <div class="d-flex justify-content-between">
                                <p class="sale-price">$9.66</p>
                                <div class="list-menu">
                                    <a href="cart.html"><i class="la la-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="card sale-product-card">
                        <div class="card-body">
                            <a class="wishlist-icon" href="wishlist.html"><i class="la la-heart-o"></i></a>
                            <a href="single-product.html">
                                <img src="img/img12.jpg" alt="">
                                <h5 class="product-title"> Product Title Here </h5>
                            </a>
                            <div class="d-flex justify-content-between">
                                <p class="sale-price">$11</p>
                                <div class="list-menu">
                                    <a href="cart.html"><i class="la la-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="card sale-product-card">
                        <div class="card-body">
                            <a class="wishlist-icon" href="wishlist.html"><i class="la la-heart-o"></i></a>
                            <a href="single-product.html">
                                <img src="img/img2.jpg" alt="">
                                <h5 class="product-title"> Product Title Here </h5>
                            </a>
                            <div class="d-flex justify-content-between">
                                <p class="sale-price">$99.66</p>
                                <div class="list-menu">
                                    <a href="cart.html"><i class="la la-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="card sale-product-card">
                        <div class="card-body">
                            <a class="wishlist-icon" href="wishlist.html"><i class="la la-heart-o"></i></a>
                            <a href="single-product.html">
                                <img src="img/img13.jpg" alt="">
                                <h5 class="product-title"> Product Title Here </h5>
                            </a>
                            <div class="d-flex justify-content-between">
                                <p class="sale-price">$5.66</p>
                                <div class="list-menu">
                                    <a href="cart.html"><i class="la la-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="card sale-product-card">
                        <div class="card-body">
                            <a class="wishlist-icon" href="wishlist.html"><i class="la la-heart-o"></i></a>
                            <a href="single-product.html">
                                <img src="img/img4.jpg" alt="">
                                <h5 class="product-title"> Product Title Here </h5>
                            </a>
                            <div class="d-flex justify-content-between">
                                <p class="sale-price">$9.5</p>
                                <div class="list-menu">
                                    <a href="cart.html"><i class="la la-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="card sale-product-card">
                        <div class="card-body">
                            <a class="wishlist-icon" href="wishlist.html"><i class="la la-heart-o"></i></a>
                            <a href="single-product.html">
                                <img src="img/img8.jpg" alt="">
                                <h5 class="product-title"> Product Title Here </h5>
                            </a>
                            <div class="d-flex justify-content-between">
                                <p class="sale-price">$21</p>
                                <div class="list-menu">
                                    <a href="cart.html"><i class="la la-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="card sale-product-card">
                        <div class="card-body">
                            <a class="wishlist-icon" href="wishlist.html"><i class="la la-heart-o"></i></a>
                            <a href="single-product.html">
                                <img src="img/img3.jpg" alt="">
                                <h5 class="product-title"> Product Title Here </h5>
                            </a>
                            <div class="d-flex justify-content-between">
                                <p class="sale-price">$36</p>
                                <div class="list-menu">
                                    <a href="cart.html"><i class="la la-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-12 text-center">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer Nav-->
<div class="footer-area">
    <div class="container h-100 px-0">
        <ul class="h-100 w-100 d-flex align-items-center justify-content-between ps-0">
            <li class="active"><a href="home.html"><i class="la la-home"></i>Home</a></li>
            <li><a href="my-order.html"><i class="la la-shopping-bag"></i> My Order</a></li>
            <li><a href="cart.html"><i class="la la-shopping-cart"></i>Cart</a></li>
            <li><a href="wishlist.html"><i class="la la-heart-o"></i>Wishlist</a></li>
            <li><a href="profile.html"><i class="la la-user"></i>Account</a></li>
        </ul>
    </div>
</div>
<!-- All JavaScript Files-->
<script src="js/jquery.min.js"></script>
<script src="js/mdb.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/main.js"></script>
<!-- Progressive Web App -->
<script src="js/pwa.js"></script>
</body>
</html>