<!DOCTYPE html>
<html id="previewPage" lang="en">
  
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover, shrink-to-fit=no">
    <meta name="description" content="Rabix - Multipurpose Ecommerce Mobile HTML Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#100DD1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Rabix">
    <meta name="msapplication-TileImage" content="img/icons/icon-144.png">
    <link rel="icon" href="img/icons/favicon.png" sizes="72x72" type="image/png">
    <!-- Title-->
    <title>Rabix - Multipurpose Ecommerce Mobile HTML Template</title>
    <!-- Google font file -->
	  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,900" rel="stylesheet">

    <!-- Stylesheet-->
    <link rel="stylesheet" href="css/line-awesome.min.css">
    <link rel="stylesheet" href="css/mdb.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/style.css">
    <!-- Web App Manifest-->
    <link rel="manifest" href="manifest.json">
  </head>
  <body>
     <!--Loader Page-->
     <div class="loader-page">
      <div class="col align-self-center text-center">
        <img src="img/icons/icon.png" alt="logo">
        <div class="row mt-5 mb-5">
          <div class="col-12 text-center">
             <div class="loader"></div>
          </div>
       </div>
    </div>
    </div>
<!--Header Area-->
<div class="header-area">
  <div class="custom-shape-divider-top-1601369830">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#005DFF" fill-opacity="1" d="M0,160L34.3,170.7C68.6,181,137,203,206,186.7C274.3,171,343,117,411,128C480,139,549,213,617,250.7C685.7,288,754,288,823,277.3C891.4,267,960,245,1029,218.7C1097.1,192,1166,160,1234,170.7C1302.9,181,1371,235,1406,261.3L1440,288L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path>
    </svg>
</div>
  <div class="row h-100 align-items-center justify-content-between">
      <div class="col-auto pr-0">
          <a href="home.html" class="btn text-light fs-25"><i class="la la-arrow-left"></i></a>
      </div>
      <div class="col text-center p-0">
          <div class="page-heading">
              <h6 class="mb-0 text-light"> Login </h6>
          </div>
      </div>
      <div class="col-auto ps-0">
          <a href="profile.html" class="btn btn-link text-light"><i class="la la-user"></i></a>
      </div>
  </div>
</div>
<!-- Login Wrapper -->
    <div class="login-wrapper d-flex align-items-center justify-content-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-sm-9 col-md-7 col-lg-6 col-xl-5">
              <div class="card user-info-card shadow-2">
                <div class="card-body p-3">
                  <form action="#" method="">
                      <div class="form-outline">
                          <input type="text" class="form-control" />
                          <label class="form-label" >Username</label><i class="la la-user-alt  prefix"></i>
                      </div>
                      <div class="form-outline">
                          <input type="password" class="form-control" />
                          <label class="form-label" >Password</label><i class="la la-lock  prefix"></i>
                      </div>
                    <div class="row align-items-center justify-content-between py-2">
                        <div class="col-12">
                           <a href="#" class="btn btn-primary rounded-pill w-100"> Sign in <i class="la la-arrow-right"></i> </a>
                        </div>
                    </div> 
                  </form>
                  <div class="row text-center">
                    <div class="col-12 mt-2">
                       <a class="forgot-password font-weight-bold text-dark" href="forget-password.html">Forgot Password?</a>
                       <p class="mb-0 mt-2 text-grey"> Didn't have an account? <a class="ml-1 text-primary font-weight-bold" href="register.html"> Sign up Now </a></p>
                    </div>
                 </div>
                </div>
            </div>
            </div>
          </div>
        </div>
    </div>
     <!-- Footer Nav-->
     <div class="footer-area">
        <div class="container h-100 px-0">
           <ul class="h-100 w-100 d-flex align-items-center justify-content-between ps-0">
             <li><a href="home.html"><i class="la la-home"></i>Home</a></li>
             <li><a href="my-order.html"><i class="la la-shopping-bag"></i> My Order</a></li>
             <li><a href="cart.html"><i class="la la-shopping-cart"></i>Cart</a></li>
             <li><a href="wishlist.html"><i class="la la-heart-o"></i>Wishlist</a></li>
             <li><a href="profile.html"><i class="la la-user"></i>Account</a></li>
           </ul>
        </div>
     </div>
    <!-- All JavaScript Files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/mdb.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
<!-- Progressive Web App -->
<script src="js/pwa.js"></script>
  </body>
</html>