<!DOCTYPE html>
<html id="previewPage" lang="en">
  
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover, shrink-to-fit=no">
    <meta name="description" content="Rabix - Multipurpose Ecommerce Mobile HTML Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#100DD1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Rabix">
    <meta name="msapplication-TileImage" content="img/icons/icon-144.png">
    <link rel="icon" href="img/icons/favicon.png" sizes="72x72" type="image/png">
    <!-- Title-->
    <title>Rabix - Multipurpose Ecommerce Mobile HTML Template</title>
    <!-- Google font file -->
	  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,900" rel="stylesheet">

    <!-- Stylesheet-->
    <link rel="stylesheet" href="css/line-awesome.min.css">

    <link rel="stylesheet" href="css/mdb.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/style.css">
    <!-- Web App Manifest-->
    <link rel="manifest" href="manifest.json">
  </head>
  <body>
    <!--Loader Page-->
    <div class="loader-page">
      <div class="col align-self-center text-center">
        <img src="img/icons/icon.png" alt="logo">
        <div class="row mt-5 mb-5">
          <div class="col-12 text-center">
             <div class="loader"></div>
          </div>
       </div>
    </div>
    </div> 
  <!--Header Area-->
   <div class="header">
    <div class="row h-100 align-items-center justify-content-between">
      <div class="col-auto pr-0">
          <a href="shop-grid.html" class="btn text-dark fs-25"><i class="la la-arrow-left"></i></a>
      </div>
      <div class="col-auto ps-0">
          <a href="cart.html" class="btn btn-link text-dark"><i class="la la-shopping-cart"></i></a>
      </div>
  </div>
   </div>
   <!-- Hero Slide-->
    <div class="page-content">
       <div class="product-details pb-3">
           <div id="counter"></div>
        <div class="product-details-slides owl-carousel">
        <!-- Single Hero Slide-->
        <div class="single-product-slide"><img src="img/img12.jpg" alt=""></div>
        <!-- Single Hero Slide-->
        <div class="single-product-slide"><img src="img/img10.jpg" alt=""></div>
        <!-- Single Hero Slide-->
        <div class="single-product-slide"><img src="img/img13.jpg" alt=""></div>
      </div>
       <!-- Product-Description-->
      <div class="product-description bg-white my-3">
          <div class="card">
             <div class="card-body">
              <a class="btn btn-sm btn-link text-dark float-end"><i class="la la la-heart-o"></i> 999+</a>
              <p class="sale-price mb-0">$19.66</p>
              <del class="real-price fs-14">$25.45</del>
              <div class="ratings mb-1">
                <i class="la la-star text-warning"></i>
                <i class="la la-star text-warning"></i>
                <i class="la la-star text-warning"></i>
                <i class="la la-star text-warning"></i>
                <i class="la la-star text-lightgrey"></i>
                <span class="pl-1 fs-12">4 ratings</span>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, eum? Id, culpa? At officia quisquam laudantium nisi mollitia nesciunt, qui porro asperiores cum voluptates placeat similique recusandae in facere quos vitae?</p>
             </div>
          </div>
      </div>
      <!-- Selection-Card-->
      <div class="selection-card bg-white mb-3">
          <div class="card">
            <div class="card-body">
              <div class="select-color">
                <p class="mb-1 font-weight-bold">Color:</p>
                   <div class="row">
                      <div class="col">
                          <div class="btn-group-toggle" data-toggle="buttons">
                              <label class="btn btn-select btn-success mb-2 active">
                                  <input type="radio" name="smalls" id="small1" autocomplete="off" checked="">
                              </label>
                              <label class="btn btn-select btn-primary mb-2">
                                  <input type="radio" name="smalls" id="small2" autocomplete="off">
                              </label>
                              <label class="btn btn-select btn-warning mb-2">
                                  <input type="radio" name="smalls" id="small3" autocomplete="off">
                              </label>
                              <label class="btn btn-select btn-danger mb-2">
                                  <input type="radio" name="smalls" id="small4" autocomplete="off">
                              </label>
                              <label class="btn btn-select btn-secondary mb-2">
                                  <input type="radio" name="smalls" id="small5" autocomplete="off">
                              </label>
                          </div>
                      </div>
                   </div>
               </div>
               <div class="select-choose-siz py-3">
                <p class="mb-1 font-weight-bold">Size:</p>
                   <div class="btn-group-toggle" >
                       <div class="form-check form-check-inline">
                           <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                           <label class="form-check-label" for="inlineCheckbox2"> XS</label>
                       </div>
                       <div class="form-check form-check-inline">
                           <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option2" />
                           <label class="form-check-label" for="inlineCheckbox3"> S</label>
                       </div>
                       <div class="form-check form-check-inline">
                           <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option2" />
                           <label class="form-check-label" for="inlineCheckbox4">M</label>
                       </div>
                       <div class="form-check form-check-inline">
                           <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option2" />
                           <label class="form-check-label" for="inlineCheckbox5">L</label>
                       </div>
                       <div class="form-check form-check-inline">
                           <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option2" />
                           <label class="form-check-label" for="inlineCheckbox6">XL</label>
                       </div>
                   </div>
               </div>
               <div class="quality-select">
                <p class="mb-1 font-weight-bold">Quality:</p>
                   <form action="#">
                    <div class="input-counter d-flex align-items-center">
                      <button class="minus-btn"><i class="la la-minus"></i></button>
                      <input type="text" value="1" min="1">
                      <button class="plus-btn"><i class="la la-plus"></i></button>
                    </div>
                   </form>
               </div>
            </div>
          </div>
      </div>
      <!-- Customer-Review-->
      <div class="customer-review bg-white">
         <div class="card">
           <div class="card-body">
            <h6>customer review:</h6>
            <div class="row single-user-review">
              <div class="col-auto align-self-start">
                <div class="user-thumbnail">
                  <img src="img/user/user-1.png" class="img-fluid" alt="img">
                </div>
              </div>
              <div class="col pe-0">
                <div class="rating-comment">
                  <p class="comment mb-2 fs-13">Very good product. It's just amazing!</p>
                  <div class="rating">
                    <i class="la la-star text-warning"></i><i class="la la-star text-warning"></i><i class="la la-star text-warning"></i><i class="la la-star text-warning"></i><i class="la la-star text-warning"></i>
                  </div>
                  <span class="name-date fs-12"> <i class="la la-calendar-alt fs-16"></i> 10 Dec 2020</span>
                </div>
              </div>
            </div>
            <div class="row single-user-review">
              <div class="col-auto align-self-start">
                <div class="user-thumbnail">
                  <img src="img/user/user-2.png" class="img-fluid" alt="img">
                </div>
              </div>
              <div class="col pl-0">
                <div class="rating-comment">
                  <p class="comment mb-2 fs-13">
                    Good Product, I like this..</p>
                  <div class="rating">
                    <i class="la la-star text-warning"></i><i class="la la-star text-warning"></i><i class="la la-star text-warning"></i><i class="la la-star text-warning"></i><i class="la la-star text-warning"></i>
                  </div>
                  <span class="name-date fs-12"> <i class="la la-calendar-alt fs-16"></i> 12 Dec 2020</span>
                </div>
              </div>
            </div>
            <div class="customer-review-form">
               <div class="container">
                <div class="rating pb-2">
                  <i class="la la-star text-lightgrey"></i><i class="la la-star text-lightgrey"></i><i class="la la-star text-lightgrey"></i><i class="la la-star text-lightgrey"></i><i class="la la-star text-lightgrey"></i>
                </div>
                   <div class="form-outline mb-4">
                       <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                       <label class="form-label" for="form4Example3">Message</label>
                   </div>
                <button class="btn btn-sm btn-warning rounded-pill" type="submit">Comment </button>
               </div>
            </div>
           </div>
         </div>
      </div>
       </div>
    </div>
     <!-- Footer Nav-->
     <div class="footer-btn">
        <div class="container-fluid">
           <div class="row">
             <div class="col-6 px-0">
              <a href="cart.html" class="btn btn-cart">ADD TO CART</a>
             </div>
             <div class="col-6 px-0">
              <a href="checkout.html" class="btn btn-shop">BUY NOW</a>
             </div>
           </div>
        </div>
     </div>
    <!-- All JavaScript Files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/mdb.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
<!-- Progressive Web App -->
<script src="js/pwa.js"></script>
  </body>
</html>