<!DOCTYPE html>
<html id="previewPage" lang="en">
  
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover, shrink-to-fit=no">
    <meta name="description" content="Rabix - Multipurpose Ecommerce Mobile HTML Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#100DD1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Rabix">
    <meta name="msapplication-TileImage" content="img/icons/icon-144.png">
    <link rel="icon" href="img/icons/favicon.png" sizes="72x72" type="image/png">
    <!-- Title-->
    <title>Rabix - Multipurpose Ecommerce Mobile HTML Template</title>
    <!-- Google font file -->
	  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,900" rel="stylesheet">

    <!-- Stylesheet-->
    <link rel="stylesheet" href="css/line-awesome.min.css">

    <link rel="stylesheet" href="css/mdb.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/style.css">
    <!-- Web App Manifest-->
    <link rel="manifest" href="manifest.json">
  </head>
  <body>
            <div class="order-success-area">
                <div class="container">
                    <i class="la la-check-circle-o check-icon"></i>
                    <div class="mt-4">
                        <h1 class="text-light">Thanks!</h1>
                        <h5 class="text-light">For completing payment</h5>
                        <p class="text-light">Your order has been processed<br>and will be deliver soon.</p>
                        <div class="mt-7">
                            <a href="home.html" class="btn btn-outline-light w-50 rounded-pill fs-13"> Back To Home</a>
                        </div>
                    </div>
                </div>
              </div>
    <!-- All JavaScript Files-->
    <script src="js/jquery.min.js"></script>

    <script src="js/mdb.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
<!-- Progressive Web App -->
<script src="js/pwa.js"></script>
  </body>
</html>