<!DOCTYPE html>
<html id="previewPage" lang="en">
  
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover, shrink-to-fit=no">
    <meta name="description" content="Rabix - Multipurpose Ecommerce Mobile HTML Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#100DD1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Rabix">
    <meta name="msapplication-TileImage" content="img/icons/icon-144.png">
    <link rel="icon" href="img/icons/favicon.png" sizes="72x72" type="image/png">
    <!-- Title-->
    <title>Rabix - Multipurpose Ecommerce Mobile HTML Template</title>
    <!-- Google font file -->
	  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,900" rel="stylesheet">

    <!-- Stylesheet-->
    <link rel="stylesheet" href="css/line-awesome.min.css">

    <link rel="stylesheet" href="css/mdb.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/style.css">
    <!-- Web App Manifest-->
    <link rel="manifest" href="manifest.json">
  </head>
  <body>
      <!--Loader Page-->
      <div class="loader-page">
        <div class="col align-self-center text-center">
          <img src="img/icons/icon.png" alt="logo">
          <div class="row mt-5 mb-5">
            <div class="col-12 text-center">
              <div class="loader"></div>
            </div>
        </div>
      </div>
      </div>   
 <!--Header Area-->
<div class="header-area">
  <div class="row h-100 align-items-center justify-content-between">
      <div class="col-auto pr-0">
          <a href="home.html" class="btn text-dark fs-25"><i class="la la-arrow-left"></i></a>
      </div>
      <div class="col text-center p-0">
          <div class="page-heading">
              <h6 class="mb-0">Wishlist</h6>
          </div>
      </div>
      <div class="col-auto ps-0">
        <a href="profile.html" class="btn btn-link text-dark"><i class="la la-user"></i></a>
      </div>
  </div>
</div>
      <div class="page-content py-3">
        <!-- Wishlist Wrapper -->
        <div class="product-list">
            <div class="container">
                <div class="title-container">
                  <h6>All Products </h6>
                </div>
                <div class="row row-custom">
                    <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                        <div class="card sale-product-card">
                          <div class="card-body">
                            <a href="single-product.html">
                              <img src="img/img14.jpg" alt="">
                              <h5 class="product-title"> Product Title Here </h5>
                            </a>
                            <div class="d-flex justify-content-between pl-2 pr-2">
                              <p class="sale-price mb-0">$19.66</p>
                            </div>
                            <span class="badge bg-primary ml-2 mb-2">15% off</span>
                            <div class="list-menu">
                              <a href="#"><i class="la la-trash"></i></a>
                          </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                        <div class="card sale-product-card">
                          <div class="card-body">
                            <a href="single-product.html">
                              <img src="img/img10.jpg" alt="">
                              <h5 class="product-title"> Product Title Here </h5>
                            </a>
                            <div class="d-flex justify-content-between pl-2 pr-2">
                              <p class="sale-price mb-0">$5.66</p>
                            </div>
                            <span class="badge bg-primary ml-2 mb-2">10% off</span>
                            <div class="list-menu">
                              <a href="#"><i class="la la-trash"></i></a>
                          </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                        <div class="card sale-product-card">
                          <div class="card-body">
                            <a href="single-product.html">
                              <img src="img/img8.jpg" alt="">
                              <h5 class="product-title"> Product Title Here </h5>
                            </a>
                            <div class="d-flex justify-content-between pl-2 pr-2">
                              <p class="sale-price mb-0">$7.66</p>
                            </div>
                            <span class="badge bg-primary ml-2 mb-2">45% off</span>
                            <div class="list-menu">
                              <a href="#"><i class="la la-trash"></i></a>
                          </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                        <div class="card sale-product-card">
                          <div class="card-body">
                            <a href="single-product.html">
                              <img src="img/img6.jpg" alt="">
                              <h5 class="product-title"> Product Title Here </h5>
                            </a>
                            <div class="d-flex justify-content-between pl-2 pr-2">
                              <p class="sale-price mb-0">$25.66</p>
                            </div>
                            <span class="badge bg-primary ml-2 mb-2">25% off</span>
                            <div class="list-menu">
                              <a href="#"><i class="la la-trash"></i></a>
                          </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                        <div class="card sale-product-card">
                          <div class="card-body">
                            <a href="single-product.html">
                              <img src="img/img11.jpg" alt="">
                              <h5 class="product-title"> Product Title Here </h5>
                            </a>
                            <div class="d-flex justify-content-between pl-2 pr-2">
                              <p class="sale-price mb-0">$19.66</p>
                            </div>
                            <span class="badge bg-primary ml-2 mb-2">15% off</span>
                            <div class="list-menu">
                              <a href="#"><i class="la la-trash"></i></a>
                          </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                        <div class="card sale-product-card">
                          <div class="card-body">
                            <a href="single-product.html">
                              <img src="img/img4.jpg" alt="">
                              <h5 class="product-title"> Product Title Here </h5>
                            </a>
                            <div class="d-flex justify-content-between pl-2 pr-2">
                              <p class="sale-price mb-0">$5.66</p>
                            </div>
                            <span class="badge bg-primary ml-2 mb-2">10% off</span>
                            <div class="list-menu">
                              <a href="#"><i class="la la-trash"></i></a>
                          </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                        <div class="card sale-product-card">
                          <div class="card-body">
                            <a href="single-product.html">
                              <img src="img/img2.jpg" alt="">
                              <h5 class="product-title"> Product Title Here </h5>
                            </a>
                            <div class="d-flex justify-content-between pl-2 pr-2">
                              <p class="sale-price mb-0">$9.66</p>
                            </div>
                            <span class="badge bg-primary ml-2 mb-2">45% off</span>
                            <div class="list-menu">
                              <a href="#"><i class="la la-trash"></i></a>
                          </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                        <div class="card sale-product-card">
                          <div class="card-body">
                            <a href="single-product.html">
                              <img src="img/img13.jpg" alt="">
                              <h5 class="product-title"> Product Title Here </h5>
                            </a>
                            <div class="d-flex justify-content-between pl-2 pr-2">
                              <p class="sale-price mb-0">$35.66</p>
                            </div>
                            <span class="badge bg-primary ml-2 mb-2">35% off</span>
                            <div class="list-menu">
                              <a href="#"><i class="la la-trash"></i></a>
                          </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-12 text-center">
                        <div class="loader"></div>
                    </div>
                </div>
            </div>
          </div>
      </div>
     <!-- Footer Nav-->
     <div class="footer-area">
        <div class="container h-100 px-0">
           <ul class="h-100 w-100 d-flex align-items-center justify-content-between ps-0">
             <li><a href="home.html"><i class="la la-home"></i>Home</a></li>
             <li><a href="my-order.html"><i class="la la-shopping-bag"></i> My Order</a></li>
             <li><a href="cart.html"><i class="la la-shopping-cart"></i>Cart</a></li>
             <li class="active"><a href="wishlist.html"><i class="la la-heart-o"></i>Wishlist</a></li>
             <li><a href="profile.html"><i class="la la-user"></i>Account</a></li>
           </ul>
        </div>
     </div>
    <!-- All JavaScript Files-->
    <script src="js/jquery.min.js"></script>

    <script src="js/mdb.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
<!-- Progressive Web App -->
<script src="js/pwa.js"></script>
  </body>
</html>